* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Fix typo: borderbox -> border-box */
}

html, body {
    width: 100%;
    height: 100%;
    
}

#map {
    height: 100%; /* Use viewport height for better rendering */
    width: 100%;
}
